{
  "overrides": [
    {
      "extends": [
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": "tsconfig.json"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "simple-import-sort", "import"],
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "airbnb-typescript"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "default-param-last": "off",
    "consistent-return": "off",
    "@typescript-eslint/default-param-last": "off",
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": false
      }
    ],
    "no-void": ["error", { "allowAsStatement": true }],
    "no-nested-ternary": "off"
  }
}
